/**
 * SimpleLeadGenForm
 */
.slgf-form-wrap {
	max-width: 620px;
}

.slgf-form div {
	clear: both;
}

.slgf-field {
	margin: 0 0 5px;
}

.slgf-input {
	width: 100%;
}

.slgf-input input,
.slgf-input textarea {
	width: 100%;
}

.slgf-form-wrap .block-ui-message {
	font-size: 26px;
	font-weight: 600;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {

	.slgf-form-wrap .block-ui-message {
		font-size: 16px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

	.slgf-form-wrap .block-ui-message {
		font-size: 22px;
	}
}
